<p id="notice"><%= notice %></p>

<p>
  <strong>Estado:</strong>
  <%= @estado_producto.estado %>
</p>

<p>
  <strong>Oferta:</strong>
  <%= @estado_producto.oferta %>
</p>

<%= link_to 'Edit', edit_estado_producto_path(@estado_producto) %> |
<%= link_to 'Back', estado_productos_path %>
