<p id="notice"><%= notice %></p>

<p>
  <strong>Imagen:</strong>
  <%= @imagen_ofertum.imagen %>
</p>

<p>
  <strong>Oferta:</strong>
  <%= @imagen_ofertum.oferta %>
</p>

<%= link_to 'Edit', edit_imagen_ofertum_path(@imagen_ofertum) %> |
<%= link_to 'Back', imagen_oferta_path %>
