<h1>Listing imagens</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Dato</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @imagens.each do |imagen| %>
      <tr>
        <td><%= imagen.usuario %></td>
        <td><%= imagen.dato %></td>
        <td><%= link_to 'Show', imagen %></td>
        <td><%= link_to 'Edit', edit_imagen_path(imagen) %></td>
        <td><%= link_to 'Destroy', imagen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Imagen', new_imagen_path %>
