<%= form_for(@estado_producto) do |f| %>
  <% if @estado_producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estado_producto.errors.count, "error") %> prohibited this estado_producto from being saved:</h2>

      <ul>
      <% @estado_producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :estado_id %><br>
    <%= f.text_field :estado_id %>
  </div>
  <div class="field">
    <%= f.label :oferta_id %><br>
    <%= f.text_field :oferta_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
